/* Applies to all elements */
* { 
    /* Set the font family to Hind */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* Remove the default margin and padding */
    margin: 0;
    padding: 0;

    user-select: none;
}

body {
    background-color: #f0f0f0;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 50px;
}

#courseCard {
    width: 300px;

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    overflow: hidden;
}

#courseCardTop {
    width: calc(100% - 20px * 2);
    padding: 12px 20px;
    background-color: green;
    color: #fff;
}

#courseCardTop h1 {
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: 500;

    font-size: 1.7rem;

    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#courseCardTop .personName {
    font-weight: 500;
    opacity: 50%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#courseData {
    width: 100%;
}

#courseData .courseInfo {
    width: calc(100% - 20px);
    padding: 12px 20px;
    
    border-bottom: 1px solid #00000030;

    display: flex;
    align-items: center;
    gap: 20px;
}

#courseData .courseInfo:hover {
    background-color: #00000010;
}

#courseData .courseInfo p {
    font-weight: 500;
    font-size: 0.9rem;
    opacity: 0.5;
    margin-bottom: 2px;
}

#courseData .courseInfo h3 {
    font-weight: 600;
    font-size: 1.1rem;
}

.logo {
    height: 36px;
    margin-bottom: 20px;
    opacity: 0.25;
}

.bottom {
    margin-top: 30px;
    max-width: 80vw;
    text-align: center;
    color: #555;
}

.bottom a {
    color: #555;
}

@media screen and (max-width: 600px) {
    #courseCard {
        position: fixed;
        top: 0;
        left: 0;

        width: 100vw !important;
        height: 100vh !important;

        border-radius: 0;
    }

    .logo {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 9999;
        filter: invert(1);
    }

    #courseCardTop {
        padding-right: 100px !important;
        width: calc(100% - 100px) !important;
    }
}

#loading {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 99999999;

    background-color: #fff;
}

.spinner
{
  -webkit-animation: rotation 1.35s linear infinite;
  animation: rotation 1.35s linear infinite;
}

@-webkit-keyframes rotation
{
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

@keyframes rotation
{
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

.circle
{
  stroke-dasharray: 180;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: turn 1.35s ease-in-out infinite;
  animation: turn 1.35s ease-in-out infinite;
}

@-webkit-keyframes turn
{
  0% {
    stroke-dashoffset: 180;
  }

  50% {
    stroke-dashoffset: 45;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 180;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

@keyframes turn
{
  0% {
    stroke-dashoffset: 180;
  }

  50% {
    stroke-dashoffset: 45;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 180;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}