/* Import Open Sans font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600&family=Miriam+Libre:wght@700&display=swap');

/* Applies to all elements */
* { 
    /* Set the font family to Hind */
    font-family: "Hind", sans-serif;

    /* Remove the default margin and padding */
    margin: 0;
    padding: 0;

    user-select: none;
}

body {
    background-color: #f0f0f0;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 50px;
}

:root {
    --main-color: #1e90ff;
}

#courseCard {
    width: 400px;

    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    overflow: hidden;
}

#courseCardTop {
    width: calc(100% - 20px * 2);
    padding: 12px 20px;
    background-color: var(--main-color);
    color: #fff;
}

#courseCardTop h1 {
    margin-top: 3px;
    margin-bottom: 0;
    font-weight: 600;

    font-size: 1.5rem;

    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-family: 'Miriam Libre';
}

#courseCardTop .personName {
    font-weight: 500;
    opacity: 50%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    margin-top: 4px;
}

#courseData {
    width: 100%;
}

#courseData .courseInfo {
    width: calc(100% - 20px * 2 - 10px * 2);
    padding: 12px 20px;

    display: flex;
    align-items: center;
    gap: 20px;

    background: #fff !important;
    margin: 10px;
    border-radius: 5px;

    box-shadow: 
      0px 1px 2px rgba(0, 0, 0, 0.1),
      0 0 10px rgba(0, 0, 0, 0.1)
    ; 
}

#courseData .courseInfo:hover {
    background-color: #00000010;
}

#courseData .courseInfo p {
    font-weight: 500;
    font-size: 0.95rem;
    opacity: 0.5;
    margin-top: 2px;
}

#courseData .courseInfo h3 {
    font-weight: 600;
    font-size: 1.1rem;
    font-family: 'Miriam Libre';
    margin-top: 2px;
    margin-bottom: -1px;;
}

.logo {
    height: 36px;
    margin-bottom: 20px;
    opacity: 0.25;
}

.bottom {
    margin: 25px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom p {
    margin: 0px 40px;
    text-align: center;
    color: #555555c5;
}

.bottom p a {
    color: #555;
}

.store_badges {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.store_badges .badge img {
    height: 36px !important;
}

#error {
    display: none;

    margin-top: 5px;
    
    background: #fff;
    color: #bc7a00;
    margin: 10px;
    border-radius: 5px;

    padding: 20px 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    box-shadow: 
      0px 1px 2px rgba(0, 0, 0, 0.1),
      0 0 10px rgba(0, 0, 0, 0.1)
    ; 
}

#error span {
    font-size: 40px;
}

#error h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Miriam Libre';
}

#error.small {
    flex-direction: row;
    gap: 20px;
    text-align: left;

    background: #bc7a0010 !important;
    border: 1px solid #bc7a00;
    color: #bc7a00;
    box-shadow: none;
}

#error.small h1 { 
    display: none;
}

#error.small span {
    font-size: 24px;
}

#error.small p { 
    margin-bottom: -5px;
}

@media screen and (max-width: 600px) {
    #courseCard {
        position: fixed;
        top: 0;
        left: 0;

        width: 100vw !important;
        height: 100vh !important;

        border-radius: 0;
    }

    .logo {
        position: fixed;
        top: 21px;
        right: 20px;
        z-index: 9999;
        filter: invert(1);
    }

    #courseCardTop {
        padding-right: 100px !important;
        width: calc(100% - 100px) !important;
    }
}