/* import font in /fonts/Fixel/ */
@font-face {
    font-family: 'Fixel';
    src: url('/fonts/Fixel/FixelText-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fixel';
    src: url('/fonts/Fixel/FixelText-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fixel';
    src: url('/fonts/Fixel/FixelText-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Fixel';
    src: url('/fonts/Fixel/FixelText-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}