@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600&family=Miriam+Libre:wght@700&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, h1 * {
    font-family: 'Miriam Libre', sans-serif;
}

body {
    background-color: #FBFAFA;
    overflow-x: hidden;
}

:root {
    --width: 1100px;
    --topOffset: 20px;
}

.width {
    width: var(--width);
    margin: 0 auto;
}

/* Navigation */
nav {
    position: sticky;
    top: 0;
    padding: 20px 0px !important;
    z-index: 1000;
    margin-top: var(--topOffset);
}

nav .width {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    height: 30px;
    margin-top: 2px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #34495E;
    opacity: 0.5;
    font-size: 1rem;
    font-weight: 500;
}

nav ul li a:hover {
    opacity: 1;
}

nav button {
    background: linear-gradient(0deg, #34495E 0%, #34495E 50%, #FBFAFA00 50%) no-repeat;
    background-size: 200% 200%;
    background-position: top;

    color: #34495E;
    border: 1px solid #34495E;
    padding: 8px 12px;
    padding-right: 14px;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    outline: 0px solid #34495E55;

    transition: background 0.2s ease, color 0.1s ease, outline 0.1s ease;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav button:hover {
    color: #FBFAFA;

    background-position: bottom;
    outline: 3px solid #34495E55;
}

nav.header-scrolled {
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);

    transition: background 0.2s ease, box-shadow 0.2s ease;
}

/* header */
#header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 50px !important;
    height: 600px;
}

#header .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin-top: 2%;
}

#header .title h1 {
    font-family: 'Miriam Libre';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 89.5%;
    /* or 50px */
    letter-spacing: -0.02em;

    color: #34495E;

    margin: 0 !important;
}

#header .title h1 span {
    color: #29947A;
}

#header .title p {
    width: 428px;

    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    /* or 20px */

    letter-spacing: -0.02em;

    color: #34495E;
    margin-top: 15px;
}

#header .store_badges {
    margin-top: 25px;
}

.store_badges {
    display: flex;
    gap: 10px;
}

.store_badges .badge img {
    height: 44px !important;
}

.landing_image {
    height: 600px;

    position: absolute;
    top: calc(100px + var(--topOffset));
    right: calc(50% - var(--width) / 2);

    image-rendering: pixelated;
}

.background_shape {
    position: absolute;
    right: calc(50% - var(--width) / 2 - 400px);
    top: calc(270px + var(--topOffset));
    z-index: -1;
}

#explore {
    background: #34495E;

    padding-top: 60px;
    margin-top: -120px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleInner h3 {
    font-family: 'Miriam Libre';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 89.5%;
    /* or 29px */
    
    letter-spacing: -0.02em;
    
    color: #FFFFFF;

    max-width: 90% !important;
}

.titleInner p {
    width: 537px;

    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    /* or 18px */

    letter-spacing: -0.02em;

    color: rgba(255, 255, 255, 0.5);
    margin-top: 10px;

    max-width: 90% !important;
}

#explore .explore_image {
    margin-top: 30px;
    image-rendering: pixelated;
}

#participate {
    display: flex;
    width: 100%;
}

#participate > div {
    padding-top: 50px;
    padding-bottom: 50px;
}

#participate > div .titleInner {
    margin-bottom: 40px !important;
}

#security {
    background: #29947A;
    padding-left: calc(50% - var(--width) / 2);
    padding-right: 30px;
}

#community {
    background: #1E6C59;
    padding-right: calc(50% - var(--width) / 2);
    padding-left: 30px;
}

.security_args {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px !important;
}

.security_arg {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0px !important;
}

.security_arg h4 {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    /* identical to box height, or 22px */

    letter-spacing: -0.02em;

    color: #FFFFFF;
}

.security_arg p {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    /* or 18px */

    letter-spacing: -0.02em;

    color: rgba(255, 255, 255, 0.5);
}

.security_arg span {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 300px;
    color: #fff;
    padding: 10px;
    height: 24px;
    width: 24px;
}

#download {
    padding: 50px 0px !important;
}

#download h3 {
    font-family: 'Miriam Libre';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 89.5%;
    /* or 29px */
    
    letter-spacing: -0.02em;
    
    color: #29947A;
}

#download p {
    width: 400px;

    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    /* or 18px */

    letter-spacing: -0.02em;

    color: #34495E;
    margin-top: 10px;
}

#download .store_badges {
    margin-top: 30px;
}

.copyright {
    position: absolute;
    right: calc(50% - var(--width) / 2);
    opacity: 50%;
}

/* responsive */
@media screen and (max-width: 1230px) {
    :root {
        --width: 90%;
    }

    #participate {
        flex-direction: column;
    }

    #participate > div {
        width: calc(100% - 50px * 2);
        padding: 50px 50px !important;
    }
}

@media screen and (max-width: 1110px) {
    .landing_image {
        right: calc(50% - var(--width) / 2 - 100px);
    }
}

@media screen and (max-width: 1020px) {
    .landing_image {
        right: calc(50% - var(--width) / 2 - 270px);
    }

    .background_shape {
        right: calc(50% - var(--width) / 2 - 670px);
    }
}

@media screen and (max-width: 890px) {
    .landing_image {
        display: none;
    }

    .background_shape {
        display: none;
    }

    #header {
        height: fit-content;
    }

    #header .title {
        width: 100%;
        align-items: center;
        text-align: center;
        padding-bottom: 100px;
    }

    #explore {
        margin-top: 0px;
    }

    nav ul {
        gap: 14px;
    }
}

@media screen and (max-width: 800px) {
    :root {
        --topOffset: 0px;
        --width: 90%;
    }

    nav ul {
        display: none;
    }

    #explore {
        overflow: hidden;
    }

    #explore .explore_image {
        width: 200%;
    }

    #header .title h1 {
        font-size: 42px;
    }

    #header .title p {
        font-size: 18px;
        width: 90%;
    }

    section {
        --width: 75%;
    }

    #community {
        display: none;
    }

    #download p {
        width: 100%;
    }

    .copyright {
        display: block;
        position: static;
        margin-top: 30px !important;
    }
}

@media screen and (max-width: 360px) {
    .store_badges .badge img {
        height: 36px !important;
    }
}